article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
    width: 500px;
    line-height: 2;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

figure {
    display: block:
    margin: auto:
}
